.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #222;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.theme-switch-container {
  position: fixed;
  top: 20px;
  right: 20px; /*en ves de usar left se usa right para ponerlo a la derecha*/
  left: auto;
  z-index: 1000;
}

/* Modo claro */
:host-context(body.light-mode) .slider {
  background-color: #fff;
  border: 1px solid #bbb;
}

/* Cambia el color del círculo también si lo deseas */
:host-context(body.light-mode) .slider:before {
  background-color: #222;
}
:host-context(body.dark-mode) .slider:before {
  background-color: #fff;
}
